body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: #444;
}

.soft-bg {
  background: linear-gradient(#ffe6f0, #fff);
  min-height: 100vh;
}

.login-bg {
  background: #fbeff5;
}

.login-box {
  margin-top: 150px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  background: pink;
  cursor: pointer;
}

.timeline img {
  width: 300px;
  border-radius: 15px;
}
